doctype html
html
  head
    title RemoteControl.io
    block style
      link(href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
      style
        | .fluid-container { width: 20%;}
  body
    block content
    block script
      script(src="/socket.io/socket.io.js")
