extend ../layout
block content
  div
    a.btn.btn-default.btn-lg#prev anterior
    a.btn.btn-default.btn-lg#next próximo

block append script
  script
    | (function(document) {
    |   "use strict";
    |   var socket = io();
    |   var next = document.querySelector("#next");
    |   next.addEventListener("click", function() {
    |     socket.emit("next");
    |   });
    |   var prev = document.querySelector("#prev");
    |   prev.addEventListener("click", function() {
    |     socket.emit("prev");
    |   });
    | })(document);
